.z-behind{
    z-index: -1;
}

.z-front{
    z-index: 2;
}
@import 'home.module.scss';
@import "../../node_modules/bootstrap/scss/bootstrap";

html, body{
	//font-family: Garamond, serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
  

@keyframes backgroundColorPalette {
	0% {
		background: black;
	}
	25% {
		background: #222121;
	}
	50% {
		background: #5f4444;
	}
	75% {
		background: #382a2a;
	}
	100% {
		background: #181515;
	}
}
.backgroundColorPalatte{
    animation-name: backgroundColorPalette;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out; 
}

@keyframes backgroundGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.particles{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: backgroundGradient 20s ease-in-out infinite;
}

.nav-btn{
	width: 100px !important;
}
.nav-btn:hover{
	background-color: rgba($color: #f3f3f379, $alpha: .1) !important;
}

.christianclaudeaux{
	font-weight: 600;
	color: whitesmoke;
	transform: skewX(5deg);
	text-shadow: 5px 1px  rgb(53, 50, 50) !important;
}