$enable-responsive-font-sizes: true;

@import 'home.module.scss';
@import 'about.module.scss';
@import 'portfolio.module.scss';
@import './locoscroll.css';
@import "../../node_modules/bootstrap/scss/bootstrap";


html, body{
	//font-family: Garamond, serif;
	color: white;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
	
	/* width */
	::-webkit-scrollbar {
	width: 0.75rem;
	border-radius: 20px !important;
	background: transparent !important;
	overflow: overlay;
  	}
  
  /* Track */
  	::-webkit-scrollbar-track {
	background: transparent !important;
	overflow: overlay;
  	}
  
  	/* Handle */
  	::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px !important;
	overflow: overlay;
  	}
  
  	/* Handle on hover */
  	::-webkit-scrollbar-thumb:hover {
	background: #555;
	overflow: overlay;
  	}
}


@keyframes backgroundGradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
.particles{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: backgroundGradient 20s ease-in-out infinite;
}

.z-behind{
    z-index: -1;
}

.z-front{
    z-index: 2;
}

.nav-btn{
	width: 100px !important;
}
.nav-btn:hover{
	background-color: rgba($color: #f3f3f379, $alpha: .1) !important;
}

.christianclaudeaux{
	font-weight: 600;
	color: whitesmoke;
	transform: skewX(5deg);
	text-shadow: 5px 1px  rgb(53, 50, 50) !important;
}

.fade-in {
	-webkit-animation: fade-in 1.5s ease-in both;
	        animation: fade-in 1.5s ease-in both;
}

 @-webkit-keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  .fade-out {
	-webkit-animation: fade-out 1.5s ease-out both;
	        animation: fade-out 1.5s ease-out both;
}

 @-webkit-keyframes fade-out {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes fade-out {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }